.banner {
	position: relative;
	margin-bottom: 100px;
	.swiper {
		position: relative;
		width: 100%;
		height: 414px;

		&-slide {
			&--bg1 {
				background: url('./assets/img/bg1.png') no-repeat;
				background-size: cover;
			}

			&--bg2 {
				background: url('./assets/img/bg2.png') no-repeat;
				background-size: cover;
			}

			h2 {
				padding: 132px 578px;
				white-space: nowrap;
				color: $body-bg;
				font-weight: 400;
    			align-items: center;
   				 display: flex;
    			justify-content: center;
			}
		}

		&-navigation {
			margin-left: 60px;
    		margin-right: 60px;
    		position: relative;
    		top: -206px;

			svg {
				stroke: $body-bg;
				width: 40px;
				height: 24px;
			}
		}

		.wrapper-decoration {
			bottom: 20px;
		}

		.option-button {
			width: 22px;
			height: 22px;
			border: none;
			background-color: transparent;
			position: relative;
			bottom: auto;
			right: auto;
			cursor: pointer;

			svg {
				width: 22px;
				height: 22px;
			}
		}

		.custom-modal {
			position: fixed;
			left: 0;
			top: 0;
			background: rgba(19, 132, 193, 0.479);
			height: 100vh;
			width: 100vw;
			z-index: 10;
			display: none;

			&.show {
				display: block;
			}

			&__body {
				border: 1px solid $body-bg;
				max-width: $custom-modal-body-max-width;
				border-radius: 8px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				background-color: $body-bg;
				padding: 24px;
			}

			&__close {
				cursor: pointer;
			}
		}
	}
}
