<section class="banner">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide--bg1">
					<p class="swiper-slide-text">Test slider</p>
				</div>
				<div class="swiper-slide swiper-slide--bg2">
					<p class="swiper-slide-text">Owoooooo</p>
				</div>
			</div>

			<div class="swiper-navigation">
				<div class="swiper-button-prev">
					<svg>
						<use href="#arrow-left"></use>
					</svg>
				</div>
				<div class="swiper-button-next">
					<svg>
						<use href="#arrow-right"></use>
					</svg>
				</div>
			</div>

			<div class="swiper-decoration">
				<div class="decorative-dots">
					<svg>
						<use href="#icon-decorative-dots"></use>
					</svg>
				</div>
				<div class="decorative-line"></div>
				<button class="option-button" data-target="explore-more">
					<svg>
						<use href="#icon-clover"></use>
					</svg>
				</button>

				<div class="custom-modal" id="explore-more">
					<div class="custom-modal__body">
						<div class="custom-modal__close">close</div>
						<h2>Опції</h2>
						<p>Тут будуть налаштування слайдера або інша інформація</p>
					</div>
				</div>
			</div>
		</div>
	</section>
