<section class="objects">
	<div class="container">
		<h3>Збудовані обʼєкти</h3>
		<nav class="objects__nav">
			<ul class="nav__list">
				<li class="nav__item active" data-filter="усі">
					<a href="#!">Усі</a>
				</li>
				<li class="nav__item" data-filter="житловий">
					<a href="#!">Житловий</a>
				</li>
				<li class="nav__item" data-filter="громадський">
					<a href="#!">Громадський</a>
				</li>
				<li class="nav__item" data-filter="спортивний">
					<a href="#!">Спортивний</a>
				</li>
			</ul>
		</nav>
		<div class="objects__cards">
			<div class="objects__card" data-category="житловий">
				<div class="objects__card-header">
					<div class="objects__card-year">2025 р.</div>
					<div class="objects__card-tag">Житловий</div>
				</div>
				<div class="objects__card-img">
					<img src="./assets/img/sanatorium-crystal-palace.png" alt="Кришталевий Палац">
				</div>
				<h4>Реконструкція санаторію «Кришталевий Палац»</h4>
				<div class="objects__card-location">Київ, вул. Шевченка, 1</div>
				<div class="objects__card-footer">
					<h5>Види робіт:</h5>
					<div class="objects__card-work-types">
						<span class="work-type">Підготовчі</span>
						<span class="work-type">Земляні</span>
						<span class="work-type">Бетонні</span>
						<span class="work-type">Мурувальні</span>
						<span class="work-type">Монтажні</span>
						<span class="work-type">Покрівельні</span>
						<span class="work-type">Оздоблювальні</span>
						<span class="work-type">Реконструкція</span>
					</div>
				</div>
			</div>
			<div class="objects__card" data-category="спортивний">
				<div class="objects__card-header">
					<div class="objects__card-year">2024 р.</div>
					<div class="objects__card-tag">спорт</div>
				</div>
				<h4>Будівництво стадіону SmartOrange</h4>
			</div>
			<div class="objects__card" data-category="громадський">
				<div class="objects__card-header">
					<div class="objects__card-year">2023 р.</div>
					<div class="objects__card-tag">Громадський</div>
				</div>
				<h4>Реконструкція будинку науки і творчості Київської залізниці (Палац Залізничників)</h4>
				<div class="objects__card-location">Київ, вул. Шевченка, 2</div>
				<div class="objects__card-footer">
					<h5>Види робіт:</h5>
					<div class="objects__card-work-types">
						<span class="work-type">Реконструкція</span>
						<span class="work-type">Інженерні мережі</span>
					</div>
				</div>
			</div>
		</div>
		<div class="download-more">
			<a href="#">Завантажити ще
				<svg>
					<use href="#arrow-filtering-down"></use>
				</svg>
			</a>
		</div>
	</div>
</section>
